<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="templae1">
<head>
<meta charset="utf-8">
<title>form ticket</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
		<div class="col-md-6">
			<div class="card ">
				<div class="card-header" th:if="${mode=='edit'}">Update form</div>
				<div class="card-body">
					<form th:action="@{savetikcet}" method="post">
						 <div class="form-group">
							<label class="control-label">id:</label> <input type="text"
								class="form-control" th:field="*{ticket.id}" />
								</div>
						<div class="form-group">
							<label class="control-label">nomClient:</label> <input type="text"
								name="nomClient" class="form-control" th:value="${ticket.nomClient}">
							<span th:errors=${ticket.nomClient} class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label">prix:</label> <input
								type="text" name="prix" class="form-control"
								th:value="${ticket.prix}"> <span
								th:errors=${ticket.prix}></span>
					</div>
							<div class="form-group">
							<label class="control-label">codePaiement:</label> <input type="text"
								name="codePaiement" class="form-control"
							th:value="${ticket.codePaiement}">
						</div>
						<div class="form-group">
							<label class="control-label">reserve:</label> <input type="checkbox"
								name="reserve" 
							th:checked="${ticket.reserve}">
						</div>
							<div class="form-group">
							<label class="control-label">place:</label> <input type="text"
								name="place" class="form-control"
							th:value="${ticket.place.id}">
						</div>
							<div class="form-group">
							<label class="control-label">projection:</label> <input type="text"
								name="projection" class="form-control"
							th:value="${ticket.projection.id}">
						</div>
						
					
						<button class="btn btn-success" type="submit">Save</button>
						
							

					</form>
				</div>
			</div>
</div>

		</div>
	</div>
</body>
</html>